/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main-mnu-button {
	    background:  none;
	    border:  none;
	    z-index: 1111;
	    float:  right;
	    width: 30px;
	}
	.main-mnu-button i{
		font-size: 30px;
	}
	.main-mnu ul li{
		display: block;
		width: 100%;
		padding: 25px 0;
		text-align: center;
	}
	.main-mnu ul li:hover{
		background: rgba(249, 197, 27, 0.2);
	}
	.main-mnu ul a{
		font-size: 16px;
		text-transform: uppercase;
		color: #616161;
		text-align:  center;
	}
	.main-mnu ul{
		display: none;
		padding-top: 40px;
		position:  absolute;
		width: 100%;
		margin-top: 50px;
		top: 9vh;
		right:  0;
		margin: 0;
		width: 50%;
		max-width: 300px;
		height: 92vh;
		z-index: 1;
		background: rgba(365,365,365,0.9);
	}
	.opened{
		display: block !important;
	}
	.calendar{
		position: relative;
		top:0;
		left:0;
		margin: auto;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.all-pic:before {
		width: 50%;
		height: 100%;
		border-bottom: none;
		border-right: solid 2px #F8C51B;
	}
	.all-pic img {
		padding: 10px;
		background: #fff;
	}
	.layer {
		margin: 0;
		margin-bottom: 80px;
		height: 38px;
		background: #fff;
	}


}
@media (max-width: 991px) and (min-width: 769px){

	}
	@media (max-width: 1199px) and (min-width: 992px){
	
	}
	@media only screen and (min-width : 992px) {
	
	}
	@media only screen and (max-width : 768px) {


	}

	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {

	}

	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px) {

	}


	/*==========  Mobile First Method  ==========*/

	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {

	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {

	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {

	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {

	}