/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.text-1,.yellow{
	text-align: center;
}
	.title-tov{
	margin: auto;	
	    margin-bottom: 50px;
}
.top{
	margin-top: 50px;
}
.all-forms img{
	width: 60%;
}
	.main-mnu-button {
	    background:  none;
	    border:  none;
	    z-index: 1111;
	    float:  right;
	    width: 30px;
	}
	.main-mnu-button i{
		font-size: 30px;
	}
	.main-mnu ul li{
		display: block;
		width: 100%;
		padding: 25px 0;
		text-align: center;
	}
	.main-mnu ul li:hover{
		background: rgba(249, 197, 27, 0.2);
	}
	.main-mnu ul a{
		font-size: 16px;
		text-transform: uppercase;
		color: #616161;
		text-align:  center;
	}
	.main-mnu ul{
		display: none;
		padding-top: 40px;
		position:  absolute;
		width: 100%;
		margin-top: 50px;
		top: 10.5vh;
		right:  0;
		margin: 0;
		width: 50%;
		max-width: 300px;
		height: 92vh;
		z-index: 1;
		background: rgba(365,365,365,0.9);
	}
	.opened{
		display: block !important;
	}
	.calendar{
		position: relative;
		top: 0px;
		left:0;
		margin: 94px 54px;
	}
	.text-4{
		position: relative;
		margin-bottom: 94px;
		padding-bottom: 73px;
	}
		.text-4:after {
		padding-top: 10px;
		content: "";
		width: 50%;
		border-bottom: solid 2px #F8C51B;
		left: 25%;
		position: absolute;
	}
	.advent:nth-of-type(4):after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-bottom:1px solid #d9d9d9;
	}
	.advent:nth-child(odd) .colum-discount{
		border-right: 1px solid #d9d9d9;
	}
	.advent:nth-child(even) .colum-discount{
		border-right: none;
	}
.title-money {
		padding: 0;
	}
	.mar-bot{
		padding-bottom: 50px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.all-pic:before {
		width: 50%;
		height: 100%;
		border-bottom: none;
		border-right: solid 2px #F8C51B;
	}
	.all-pic img {
		padding: 10px;
		background: #fff;
	}
	.layer {
		margin: 0;
		margin-bottom: 80px;
		height: 38px;
		background: #fff;
	}
	.advent .colum-discount{
		border-right: none;
	}
	.advent:after {
		left: 20% !important;
		width: 70% !important;
	}
	
.mask-finish{
	background-color: #fff;}
}
@media (max-width: 991px) and (min-width: 769px){



	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {

	}

	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px) {

	}


	/*==========  Mobile First Method  ==========*/

	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {

	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {

	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {

	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {

	}